ul {
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  img {
    width: 100%;
    margin-top: -8px;
  }
  main {
    font-family: sans-serif;
  }
  nav h1 {
    background-color: #235557;
    padding: 1em;
    margin: 0;
    box-sizing: ;
    color: white;
  }
  body {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form {
    width: 80%;
    justify-content: center;
    display: flex;
  }